// Customer varible

$primary: #f83600;

$secondary: #fe8c00;



// Create your own map
$custom-colors: (
  "red-dark": #900,
  "red-light": rgb(213, 81, 81)
);

@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables";
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


//  import bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//  import app
@import './components/mixins';
@import './components/buttons';
@import './components/heading-line';
@import './components/service';
@import './components/comments';
@import './components/faq';
@import './fonts';
@import './navbar';
@import './intro';
  
