@mixin gradient{

    background:$secondary; /* fllback for old browsers*/
    background: -webkit-linear-gradient(

    to right,
    $secondary,
    $primary
    
    );   /* chrome 10-25 safari 5.1-6*/

    background: linear-gradient(
        to right,
         $secondary,
        $primary

    );
}